<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<div class="container-fluid">
<% include pageHeader %>

<div class="row"><div class="col-xs-12">
<div id="notetitles" class="btn-group-vertical" role="group" style="width: 100%;">
<% for (var note of notelist) { %>
  <a class="btn btn-lg btn-block btn-default" href="/notes/view?key=<%= note.key %>">
      <%= note.title %>
  </a>
<% } %>
</div>
</div></div>

<% include footer %>

<script src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(function () {
  var socket = io('/home');
  socket.on('notetitles', function(data) {
    var notelist = data.notelist;
    $('#notetitles').empty();
    for (var i = 0; i < notelist.length; i++) {
      notedata = notelist[i];
      $('#notetitles')
      .append('<a class="btn btn-lg btn-block btn-default" href="/notes/view?key='+
                notedata.key +'">'+ notedata.title +'</a>');
    }
  });
});
</script>

</div>
</body>
</html>
